.header{
    width: 100%;
    height: 80px;
    display: flex;
    background: #076585;  
    background: -webkit-linear-gradient(to right, #fff, #076585); 
    background: linear-gradient(to right, #fff, #076585);
}

.header-img{
    width: 50px;
    height: 50px;
    padding-top: 0.21cm;
    justify-content: left;
}

.header-texto{
    padding-left: 20px;
    justify-content: left;
    
}

nav{
    padding: 30px 50px 0 0px;
    text-align: right ;
}

nav > a{
    color:#fff;
    font-weight: 200;
    text-decoration: none;
    padding-left: 200px ;
    justify-content: right;
    display: table-cell;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.juegos{
    display: flex;
    justify-content: space-evenly;
}

.juegos .juego{
    background: #064c8677;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}



.juegos .juego > .contenido-texto-juego{
    width: 60%;
    color: rgb(3, 3, 3);
}

.juegos .juego > .contenido-texto-juego p{
    font-weight: 300;
    padding-top: 5px;
}

.juegos .juego{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juegos .juego img{
    padding-top: 1cm;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border: 80%;   
}

.footer{
 
    display: flex;
    justify-content: space-around;
    background: #076585;  
    background: -webkit-linear-gradient(to right, #fff, #076585); 
    background: linear-gradient(to right, #fff, #076585);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    
}
.footer a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-family: Verdana, sans-serif;
}